<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopeme Admin Control Panel')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div class="mb-2">
			<h1 class="text-capitalize">Manage Users</h1>
			<a th:href="@{/users/new}">Create New User</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/csv}">Export to Csv</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/excel}">Export to Excel</a>
			&nbsp; | &nbsp;
			<a th:href="@{/users/export/pdf}">Export to Pdf</a>
		</div>

		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]]
		</div>
		
		<div>
			<form th:action="@{/users/page/1}">
				<div class="input-group">
					<div class="form-inline m-3">
						<input type="hidden" name="sortField" id="form1" th:value="${sortField}" />
						<input type="hidden" name="sortDir" id="form1" th:value="${sortDir}" />
						
					    <input type="search" name="keyword" th:value="${keyword}" id="form1" class="form-control" placeholder="Search" />
					    &nbsp;&nbsp;
					    <button type="submit" class="btn btn-primary">search</button>
					    &nbsp;&nbsp;
					    <button type="button" class="btn btn-secondary" onClick="clearFilter()">Clear</button>
					  </div>
				</div>
			</form>
		</div>

		<table class="table table-responsive-xl table-bordered">
			<thead class="thead-dark">
				<tr>
					<th th:replace="fragments :: column_link('id', 'User ID')" />
					<th scope="col">Photos</th>
					<th th:replace="fragments :: column_link('email', 'Email')" />
					<th th:replace="fragments :: column_link('firstName', 'First Name')" />
					<th th:replace="fragments :: column_link('lastName', 'Last Name')" />
					<th th:replace="fragments :: column_link('roles', 'Roles')" />
					<th scope="col">Enabled</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td>[[${user.id}]]</td>
					<td>
						<div class ="text-center">
							<img th:if="${user.photos == null}" width="70px" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
							<img th:if="${user.photos != null}" width="70px" th:src="@{${user.photosImagePath}}" />
						</div>
					</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastName}]]</td>
					<td>[[${user.roles}]]</td>
					<td>
						<a th:if="${user.enabled == true}" class="btn btn-primary" 
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}">True</a>
						
						<a th:if="${user.enabled == false}" class="btn btn-warning" 
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}">False</a>
					</td>
					<td>
						<a class="btn btn-primary" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
						<a class="btn btn-danger link-delete" th:userId="${user.id}" th:href="@{'/users/delete/' + ${user.id}}">Delete</a>
					</td>
				</tr>

			</tbody>
		</table>
		
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing users # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>
		
		<div class="text-center m-1" th:if="${totalItems == 0}">
			<span>Not user Found</span>
		</div>
		
		<nav th:if="${totalPages > 1}" aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		      <a th:replace="fragments :: page_link(1, 'First')" />
		    </li>
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		      <a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')" />
		    </li>
		    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a th:replace="fragments :: page_link(${i}, ${i})" />
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		     <a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')" />
		    </li>
		     <li class="page-item">
		     <a th:replace="fragments :: page_link(${totalPages}, 'Last')" />
		    </li>
		  </ul>
		</nav>
		
		
		<div class="modal" tabindex="-1" role="dialog" id="confirmModel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p id="confirmText"></p>
		      </div>
		      <div class="modal-footer">
		        <a class="btn btn-success" href="" id="yesButton">Yes</a>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
		      </div>
		    </div>
		  </div>
	</div>
	

		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script type="text/javascript">
	$(document).ready(function () {
		$(".link-delete").on("click", function (e) {
			e.preventDefault();
			link = $(this);
			userId = link.attr("userId");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Are you sure you want delete this user ID " + userId);
			$("#confirmModel").modal();
		});
		
		$("#LogoutLink").on("click", function(e) {
				e.preventDefault();
				document.LogoutForm.submit();
			});
			
			customizeDropDownMenu()
	});
	
	function clearFilter() {
		window.location = "[[@{/users}]]";
	}
	
	function customizeDropDownMenu() {
		$(".dropdown > a").click(function() {
			location.href = this.href;
		});
	}


</script>

</body>

</html>