<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>[[${title}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:fragment="footer">
		<p>Shopme Control Panel - Copyright &copy; Shopme</p>
	</div>

	<th scope="col" th:fragment="column_link(fieldName, columnLabel)">
		<a class="text-white" 
			th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnLabel}]]
		</a>
						
		<span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'}" aria-hidden="true"></span>
	</th>

	<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
		</div>

		<div class="text-center m-1" th:if="${totalItems == 0}">
			<span>Not [[${entityName}]] Found</span>
		</div>

		<nav th:if="${totalPages > 1}" aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')" />
				</li>
				<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')" />
				</li>
				<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPages)}">
					<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})" />
				</li>

				<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')" />
				</li>
				<li class="page-item">
					<a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')" />
				</li>
			</ul>
		</nav>
	</div>
	
	<a th:fragment="page_link(moduleURL, pageNum, label)"
		class="page-link" 
		th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
		[[${label}]]
	</a>

	<div th:fragment="search_form(moduleURL)">
		<form th:action="@{${moduleURL}}">
			<div class="input-group">
				<div class="form-inline m-3">
					<input type="hidden" name="sortField" id="form1" th:value="${sortField}" />
					<input type="hidden" name="sortDir" id="form1" th:value="${sortDir}" />

					<input type="search" name="keyword" th:value="${keyword}" id="form1" class="form-control" placeholder="Search" />
					&nbsp;&nbsp;
					<button type="submit" class="btn btn-primary">search</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary" onClick="clearFilter()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>