<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Shopeme Admin Control Panel')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h1 class="text-capitalize">Shopme Control Panel</h1>
		</div>
		
		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script text/javascript>
		$(document).ready(function() {
			$("#LogoutLink").on("click", function(e) {
				e.preventDefault();
				document.LogoutForm.submit();
			});
			
			customizeDropDownMenu()
		});
		
		function customizeDropDownMenu() {
		$(".dropdown > a").click(function() {
			location.href = this.href;
		});
	}
	</script>
</body>
</html>