<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Logout Page')"></head>
<body>
	<div style="height: 100vh;" class="container-fluid d-flex flex-column justify-content-center align-items-center">
		
	<div style="width: 400px; margin: 0 auto;" class="mt-5 border border-secondary rounded p-3">
	<h1 class="text-center">Login Page</h1>
		<form th:action="@{/login}" method="post"}>
		<div th:if="${param.error}">
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		</div>
		<div th:if="${param.logout}" class="text-center">
			<p class="text-warning">You have been logged out.</p>
		</div>
		  <!-- Email input -->
		  <div class="form-outline mb-4">
		    <input type="email" name="email" id="form2Example1" class="form-control" />
		    <label class="form-label" for="form2Example1">Email address</label>
		  </div>
		
		  <!-- Password input -->
		  <div class="form-outline mb-4">
		    <input type="password" name="password" id="form2Example2" class="form-control" />
		    <label class="form-label" for="form2Example2">Password</label>
		  </div>
		
		  <!-- 2 column grid layout for inline styling -->
		  <div class="row mb-4">
		    <div class="col d-flex justify-content-center">
		      <!-- Checkbox -->
		      <div class="form-check">
		        <input name="remember-me" class="form-check-input" type="checkbox" id="form2Example31" />
		        <label class="form-check-label" for="form2Example31"> Remember me </label>
		      </div>
		    </div>
		
		    <div class="col">
		      <!-- Simple link -->
		      <a href="#!">Forgot password?</a>
		    </div>
		  </div>
		
		  <!-- Submit button -->
		  <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
		
		  <!-- Register buttons -->
		  <div class="text-center">
		    <p>Not a member? <a href="#!">Register</a></p>
		    <p>or sign up with:</p>
		    <button type="button" class="btn btn-link btn-floating mx-1">
		      <i class="fab fa-facebook-f"></i>
		    </button>
		
		    <button type="button" class="btn btn-link btn-floating mx-1">
		      <i class="fab fa-google"></i>
		    </button>
		
		    <button type="button" class="btn btn-link btn-floating mx-1">
		      <i class="fab fa-twitter"></i>
		    </button>
		
		    <button type="button" class="btn btn-link btn-floating mx-1">
		      <i class="fab fa-github"></i>
		    </button>
		  </div>
		</form>
		</div>
	</div>
</body>
</html>