<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopeme Admin Control Panel')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div class="mb-2">
			<h1 class="text-capitalize">Manage Categories</h1>
			<a th:href="@{/categories/new}">Create New Category</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/csv}">Export to Csv</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/excel}">Export to Excel</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/pdf}">Export to Pdf</a>
		</div>

		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]]
		</div>
		
		<div>
			<form th:action="@{/categories/page/1}">
				<div class="input-group">
					<div class="form-inline m-3">
						<input type="hidden" name="sortField" id="form1" th:value="${sortField}" />
						<input type="hidden" name="sortDir" id="form1" th:value="${sortDir}" />
						
					    <input type="search" name="keyword" th:value="${keyword}" id="form1" class="form-control" placeholder="Search" />
					    &nbsp;&nbsp;
					    <button type="submit" class="btn btn-primary">search</button>
					    &nbsp;&nbsp;
					    <button type="button" class="btn btn-secondary" onClick="clearFilter()">Clear</button>
					  </div>
				</div>
			</form>
		</div>

		<table class="table table-responsive-xl table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							ID
						</a>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							Category Image
						</a>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							Category Name
						</a>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							Category ALias
						</a>
					</th>
					<th scope="col">Enabled</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${listCategories}">
					<td>[[${category.id}]]</td>
					<td>
						<div class ="text-center">
							<span th:if="${category.image == null}">default</span>

							<img th:if="${category.image != null}" width="70px" th:src="@{${category.imagePath}}" />
						</div>
					</td>
					<td>[[${category.name}]]</td>
					<td>[[${category.alias}]]</td>
					<td>
						<a th:if="${category.enabled == true}" class="btn btn-primary">True</a>
						
						<a th:if="${category.enabled == false}" class="btn btn-warning">False</a>
					</td>
					<td>
						<a class="btn btn-primary" th:href="@{'/categories/edit/' + ${category.id}}">Edit</a>
						<a class="btn btn-danger link-delete">Delete</a>
					</td>
				</tr>

			</tbody>
		</table>
	

		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script type="text/javascript">


</script>

</body>

</html>