<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Shopeme Admin Control Panel')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div class="mb-2">
			<h1 class="text-capitalize">Manage Categories</h1>
			<a th:href="@{/categories/new}">Create New Category</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/csv}">Export to Csv</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/excel}">Export to Excel</a>
			&nbsp; | &nbsp;
			<a th:href="@{/categories/export/pdf}">Export to Pdf</a>
		</div>

		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]]
		</div>
		
		<div th:replace="fragments :: search_form('/categories/page/1')"></div>

		<table class="table table-responsive-xl table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							ID
						</a>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							Category Image
						</a>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories/page/' + ${pageNum} '?sortDir=' + ${reverseSortDir}}">
							Category Name
						</a>

						<span th:class="${reverseSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'}" aria-hidden="true"></span>
					</th>

					<th scope="col">
						<a class="text-white"
						   th:href="@{'/categories?sortDir=asc'}">
							Category ALias
						</a>
					</th>
					<th scope="col">Enabled</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="category : ${listCategories}">
					<td>[[${category.id}]]</td>
					<td>
						<div class ="text-center">
							<span th:if="${category.image == null}">default</span>

							<img th:if="${category.image != null}" width="70px" th:src="@{${category.imagePath}}" />
						</div>
					</td>
					<td>[[${category.name}]]</td>
					<td>[[${category.alias}]]</td>
					<td>
						<a th:if="${category.enabled == true}" th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
						   class="btn btn-primary">True</a>
						
						<a  th:if="${category.enabled == false}" th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
							class="btn btn-warning">False</a>
					</td>
					<td>
						<a class="btn btn-primary" th:href="@{'/categories/edit/' + ${category.id}}">Edit</a>

						<th:block th:if="${category.hasChildren == false}">
							<a class="btn btn-danger link-delete" th:href="@{'/categories/delete/' + ${category.id}}"
							   th:entityId="${category.id}">Delete</a>
						</th:block>
					</td>
				</tr>

			</tbody>
		</table>

		<div class="modal" tabindex="-1" role="dialog" id="confirmModel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="confirmText"></p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>


		<div th:if="${keyword != null}" class="text-center">
			<span>Search result does not show categories in hierarchical form</span>
			<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
		</div>

		<th:block th:unless="${keyword != null}">
			<div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
		</th:block>
	

		<div th:replace="fragments :: footer"></div>
	</div>
	<script type="text/javascript">
		moduleUrl = "[[@{categories}]]";

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModel($(this), 'category');
			});
		});

		function showDeleteConfirmModel(link, entityName) {
			entityId = link.attr("entityId")

			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text("Are you sure want to delete this " + entityName + " Id" + entityId + "?");

			$("#confirmModel").modal();
		}

		function clearFilter() {
			window.location = "[[@{/users}]]";
		}


	</script>

</body>

</html>