<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${pageTitle})"></head>

<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>

  <div class="mb-2">
    <h1 class="text-capitalize">Manage Categories | [[${pageTitle}]]</h1>
  </div>

  <div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
  </div>


  <form th:action="@{/brands/save}" th:object="${brand}" method="post" style="max-width: 700px; margin: 0 auto"
        enctype="multipart/form-data" onsubmit="return checkUnique(this)">
    <input type="hidden" th:field="*{id}" id="id" />
    <div class="border border-secondary rounded p-3">
      <div class="form-group">
        <label>Brand name</label>
        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Category Name"
               name="email" minlength="3" maxlength="128" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

      <div class="form-group">
        <label>Select one or more categories: </label>
        <select th:field="*{categories}" class="form-select" multiple aria-label="multiple select example" required>
          <option value="0">[No Parent]</option>
          <th:block th:each="cat : ${listCategories}">
            <option th:value="${cat.id}">[[${cat.name}]]</option>
          </th:block>
        </select>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Chosen categories:</label>
        <div class="col-sm-8">
          <div id="chosenCategories"></div>
        </div>
      </div>

      <div class="form-group">
        <label>Brand Logo:</label>
        <input type="hidden" th:field="*{logo}" />
        <input name="fileImage" type="file" class="form-control" id="fileImage" accept="image/png, image/jpeg" />
        <img width="70px" id="thumnail" alt="Image preview" th:src="@{${brand.logoPath}}" />
      </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" id="buttonCancel">Cancel</button>
</div>
</form>


<div class="modal fade text-center" id="modalDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTitle">Warning</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div>
          <div class="modal-body">
            <span id="modalBody"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments :: footer"></div>

</div>
</body>
<script type="text/javascript">

  function checkUnique(form) {
    brandId = $("#id").val();
    brandName = $("#name").val();
    csrfValue = $("input[name = '_csrf']").val();
    url = "[[@{/brands/check_unique}]]";

    params = { id: brandId, name: brandName, _csrf: csrfValue };

    $.post(url, params, function (response) {
      if (response === "Ok") {
        form.submit();
      } else if (response === "Duplicate") {
        showWarningModel("There is another brand having same name " + brandName);
      } else {
        showErrorModel("Unknown response from server " + "status : " + response.status);
      }
    }).fail(function (response) {
      showErrorModel("Could not connect to the server " + "status : " + response.status);
    })

    return false;
  }


  function showModalDialog(title, message) {
    $("#modalTitle").text(title);
    $("#modalBody").text(message);
    $("#modalDialog").modal();
  }

  function showErrorModel(message) {
    showModalDialog("Error", message);
  }

  function showWarningModel(message) {
    showModalDialog("Warning", message);
  }


  moduleUrl = "[[@{brands}]]";

  $(document).ready(function () {
    $("#buttonCancel").on("click", function () {
      window.location = moduleUrl;
    });

    $("#fileImage").change(function() {
      fileSize = this.files[0].size;

      if(fileSize > 1048576) {
        this.setCustomValidity("You must choose an image less than 1MB!");
        this.reportValidity();
      } else {
        this.setCustomValidity("");
        showImageThumbnail(this);
      }
    });

    dropdownCategories = $("#categories");
    divChosenCategories = $("#chosenCategories");

    dropdownCategories.change(function () {
      divChosenCategories.empty();
      showChosenCategories();
    })

    function showChosenCategories() {
      dropdownCategories.children("option:selected").each(function () {
        selectedCategory = $(this);
        catId = selectedCategory.val();
        catName = selectedCategory.text().replace(/-/g, "");

        let span = "<span class='badge badge-secondary mt-1'>" + catName + "</span>";

        divChosenCategories.append(span);
      })
    }


  });

  function showImageThumbnail(fileInput) {
    var file = fileInput.files[0];
    var reader = new FileReader();
    reader.onload= function(e) {
      $("#thumnail").attr("src", e.target.result);
    };

    reader.readAsDataURL(file);
  }



</script>

</html>